#HomePageTab {
    background-color: lightgrey;
}
#ProjectsTab {
    background-color: lightgrey;
}
#ResumeTab {
    background-color: lightgrey;
}
#FunTab {
    background-color: lightgrey;
}

    .cell.large-auto {
        border: 1px solid black;
        display: flex;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: inherit;
      }

      
#AboutMeBox {
    border-color: black;
    background-color: lightgrey;
    width: 100%;              /* fill grid cell width */
    height: 100%;             /* fill grid cell height */
    text-align: center;       /* center text horizontally */
    align-items: center;      /* center text vertically (if flex) */
}
#AboutMe1 {
    text-align: center;
}
      
      
      
