#HomePageTab {
    background-color: darkgrey;
}
#ProjectsTab {
    background-color: darkgrey;
}
#ResumeTab {
    background-color: darkgrey;
}
#FunTab {
    background-color: darkgrey;
}
  
.cell.large-auto {
    font-size: 1.5rem;
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: darkgrey;
  }
  


      .AboutMeBox {
        border: 2px solid black;
        align-items: center;  
        justify-content: center;
        gap: 20px;
        padding: 15px;
      }
          
#AboutMeContent {
    background-color: white;
    width: 72.5%;
    margin: auto;   
    text-align: left; 
    align-items: center;
}
#AboutMePic {
    margin: auto; 
}
#fun {
    text-align: center;
}
.LifeTime1 {
    font-size: 1rem;
    background-color: white;
    border: 2px solid black;
    display: grid;
    gap: 20px;
    padding: 15px;
}
#WebInterface {
    font-size: 1rem;
    background-color: white;
    max-width: 500px;
    height: fit-content;
    max-width: 100%;
    height: auto;
    display: block;
}
.LifeTime2 {
    font-size: 1rem;
    background-color: white;
    border: 2px solid black;
    display: grid;
    gap: 20px;
    padding: 15px;
}
.Trivia {
    font-size: 1rem;
    background-color: white;
    border: 2px solid black;
    display: grid;
    gap: 20px;
    padding: 15px;
}
#ProjectsTitle {
    text-align: center;
}
#ResumeBody {
    font-size: 1rem;
    border: 2px solid black;
    display: grid;
    gap: 20px;
    padding: 15px;
    background-color: white;
    width: 72.5%;
    margin: auto;   
    text-align: left;      
}
#ResumeTitle {
    text-align: center;
}
#ProjectsContent {
    width: 72.5%;
    margin: auto;   
}
.ProjectContainer {
    display: grid;
  }
  img {
    width: 500px;
    height: auto;
    display: block;
  }
  body {
    background-color: lightgrey;
  }
  #FunStuffContent {
    border: 2px solid black;
    display: grid;

    gap: 20px;
    padding: 15px;
    background-color: white;
    width: 72.5%;
    margin: auto;   
    text-align: left; 
  }
  #ImageRow {
    display: grid; 
    grid-template-columns: auto auto auto;
    gap: 15px;         
    margin: auto;     
  }

  
  
  
  
  

  

  
      
      
      
