#ProjectsLink:hover {
    background-color: yellow;
    }
#ResumeLink:hover {
    background-color: yellow;
    }
#FunLink:hover {
    background-color: yellow;
    }
#HomePageLink:hover {
    background-color: yellow;
    }
